<template>
  <q-page>
    <div>
      {{ place.id }}
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import placeService, { Place } from '../services/PlaceService';

export default defineComponent({
  name: 'IndexPage',
  data() {
    return {
      place: {} as Place,
    };
  },
  mounted() {
    let id = Number(this.$route.params.id);
    this.place = placeService.getPlace(id);
  },
});
</script>
